<div class="container-fluid" style="padding: 0 0 0 0;">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1" style="background-image: url('<%= asset_path "slide-1.jpg" %>');"></div>
      <div class="hero">
        <hgroup>
            <h1 >Bienvenidos</h1>        
            <h3>Biblioteca Virtual</h3>
        </hgroup>
        
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2" style="background-image: url(slide-1);"></div>
      <div class="hero">        
        <hgroup>
            <h1>Variedad De Libros</h1>        
            <h3>Puedes visualizar y descargar Libros directamente desde nuestro amplio catalogo</h3>
        </hgroup>       
  
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3" style="background-image: url('slide-1.jpg')"></div>
      <div class="hero">        
        <hgroup>
            <h1>Prestamos y devoluciones</h1>        
            <h3>Puedes realizar tus solicitudes de libros fisicamente en nuestras sucursales, pero recuerda hacer las devoluciones a tiempo</h3>

        </hgroup>


      </div>
    </div>
  </div> 
</div>
</div>