<% if user_signed_in? %>
  <li>
  <%= link_to('Logout',{:controller => 'users/sessions', :action => 'destroy'}, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>