<div class="container-fixed">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Biblioteca Digital NyN</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       
        <li><a href="/principal/inicio">Inicio</a></li>
        <li><a href="/libros/index">Libros</a></li>
        <% if current_user.rol_id == 1 || current_user.rol_id == 2 || current_user.rol_id == 3 %>  
        <li><a href="/prestamos/index">Prestamos</a></li>
      <% end %> 

       <% if current_user.rol_id == 1 || current_user.rol_id == 2 %>   
            <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Mantenimiento <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                    <li role="presentation"><a href="/areasconocimientos/index" role="menuitem">Area de conocimiento</a></li>
                    <li role="presentation"><a href="/asignaturas/list" role="menuitem">Asignaturas</a></li>
                <% if current_user.rol_id == 1  %>      
                    <li role="presentation"><a href="/rols/list" role="menuitem">Roles</a></li>
                    <li role="presentation"><a href="/estudiantes/index" role="menuitem">Estudiantes</a></li>
                    <li role="presentation"><a href="/usuarios/index" role="menuitem">Usuarios</a></li>
                <%end%>    
                </ul>
            </li>
        <%end%>    

        <% if current_user.rol_id == 1 || current_user.rol_id == 2 %>  
                <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Estadisticas <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                    <li role="presentation"><a href="/estadisticas/index" role="menuitem">Descargas</a></li>
                    <li role="presentation"><a href="/estadisticaprestamos/index" role="menuitem">Prestamos</a></li>
                   
                 
                </ul>
            </li>
        <%end%>      
         <% if current_user.rol_id == 1 || current_user.rol_id == 2 %>     
              <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Reportes <b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                    <li role="presentation"><a href="/repprestamos/index" role="menuitem">Prestamos</a></li>
                </ul>
            </li>
        <%end%>  
       
           <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Sesión <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
             <% if current_user.rol_id == 5 %> 
               <li role="presentation"><a href="validatestudents/new" role="menuitem">Validar que soy estudiante</a></li>
             <%end%>   
                <li role="presentation"><%= render 'menu/login_items'%></li>
                
             
            </ul>
        </li>
       
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
