<div class="container">
	<div class="form-horizontal">
		<h2><%= @areasconocimiento.name %> </h2>

		<div style = "font-size: 17px;">
		   <strong>ID: </strong> <%= @areasconocimiento.id %><br />
		   <strong>Nombre: </strong> <%= @areasconocimiento.name %><br />

			<%= link_to 'Atrás', {:action => 'index'} %>
		</div>
	</div>
</div>		

