<div class="container">
<h2><%= @rol.name %> </h2>

<div style = "font-size: 17px;">
   <strong>ID: </strong> <%= @rol.id %><br />
   <strong>Nombre: </strong> <%= @rol.name %><br />

<%= link_to 'Back', {:action => 'list'} %>
</div>
</div>