<script type="text/javascript">
	function tomarvalor(paramid){
		$("#elLibro").val(paramid);
		$("#myDialog" ).dialog("close");

	}
</script>
<div class ="form-control">
  <div class ="form-control"> <%= render :partial => 'buscar', :locals => {:option1 => 'libros'}%> </div>
  <div id="listadolibros" class ="form-control">
     <%= render 'listalibros'%>
  </div>
</div>  
 
