<script type="text/javascript">
	function tomarvalor(paramid){
		$("#elLibrorep").val(paramid);
		$("#dialogrep" ).dialog("close");

	}
</script>
<% @buscarl = "buscarp" %>
<div class ="form-control">
  <div class ="form-control"> </div>
  <div id="listadolibrosrep" class ="form-control">
     <%= render 'listalibros'%>
  </div>
</div>  
 
