<div class="container">
<div class="page-header">
        <h1>Usuarios</h1>
 </div>


	<p>Estos son los usuarios que se encuentran en nuestro sistema.</p>
  <div> <%= render "buscar" %> </div>
	<div id="listausuarios">
	   <%= render 'listadousuarios'%>
</div>
</div>