<div class="container">
<div class="page-header">
        <h1>Libros</h1>
 </div>

<% if @libros.blank? %>
	<p>No existe ningún libro en nuestro sistema.</p>
	<%= link_to "Añadir nuevo", {:action => 'new' }%></p>
<% else %>
	<p>Estos son los libros que se encuentran en nuestro sistema.</p>
  <div> <%= render "buscar" %> </div>
	<div id="listalibros">
	   <%= render 'listadolibros'%>
  </div>
<% end %>
</div>
